<!DOCTYPE html>
<html>
<head>
  <title>MusicGearShare</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  <%= link_to "Your Gear", gears_path %>

  <%= yield %>
  

</body>
</html>
